:root {
    --linenum-width: 1em;
}

.popover {
    max-width: 100%;
    max-height: 90vh;
    height: fit-content;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    font-size: 14px;
}

.code mark {
    border-radius: 3px;
}

mark.start {
    background-color: #d5e5b1;
}

mark.highlighted {
    background-color: #b1d5e5;
}

mark.next-line {
    border-radius: 3px;
    background-color: #e5d5b1;
}

mark.linenum {
    background-color: #888;
    margin-left: calc(-1px * var(--linenum-width));
}

.code-container {
    overflow: auto scroll;
    max-height: calc(90vh - 20px);
    padding-left: calc(1px * var(--linenum-width));
}

.code {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.code p {
    display: inline;
}
